@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Bungee+Tint&family=Gruppo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: 'Bolin Gerii';
  src: url('/fonts/BolinGerii-Regular.woff2') format('woff2'),
       url('/fonts/BolinGerii-Regular.woff') format('woff'),
       url('/fonts/BolinGerii-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
}
:root{
  --background:#222222;
  --primary-color: #FECB05;

}

/* Small global tweaks for spacing/typography on small devices */

@media (max-width: 420px) {
  :root {
    /* Keep colors unchanged; only scale down base font-size slightly for tight screens */
    font-size: 14px;
  }

  body, * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@media (min-width: 421px) and (max-width: 768px) {
  :root {
    font-size: 15px;
  }
}
